.sports {
  .ant-select {
    border-radius: 3px;
    box-shadow: 0px 3.35526px 10.0658px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .paragraph {
    font-size: 16px;
  }
}
