@import './colors';
@import './fonts';
@import './typography';
@import './media-queries';

// Padddings
$padding-xxl: 5.906em;
$padding-xl: 3.938em;
$padding-l: 2.625em;
$padding-m: 1.75rem;
$padding-s: 1.167rem;
$padding-xs: 0.778em;
$padding-xxs: 0.519em;
